<!-- main menu -->  
  
<!-- body of the page -->
<div class="ui raised very padded text container segment">
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <img class="ui mini circular image" src="../public/images/logo.png"> 
      </div>
      <div class="column">
       <a href="/scrape" type="button" class="ui positive button">Scrap New Articles!</a>
      </div>
    </div>
  </div>
  <div>
    <img class="ui fluid image" src="../public/images/background.jpg">
  </div>
  <div id="articles">

  </div>
</div>
