<!-- body of the page -->
<div class="ui raised very padded text container segment">
  <p class="header">Mongo Scraper - NHL Edition</p>
  <div class="ui segment">
    <div class="ui three column very relaxed grid">
      <div class="column">
        <a href="/"><img class="ui mini circular image" src="../public/images/logo.png"></a> 
      </div>
      <div class="column">
       <a href="/scrape" type="button" class="ui negative button">Scrap New Articles!</a>
      </div>
      <div class="column">
       <a href="/" type="button" class="ui positive button">Read Old Articles!</a>
      </div>
    </div>
  </div>
  <div>
    <img class="ui fluid image" src="../public/images/background.jpg">
  </div>
  <div id="articles">

  </div>
</div>
